body {
    background-color: #8a8a8a;
    max-height: 100vh;
}

.bg_img {
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
}

.bg_dark {
    background-color: #212529b5;
}

h1 {
    line-height: 28px;
}

@media (min-width: 641px) {
    .bg_img {
        opacity: .5;        
    }    
}

@media (min-width: 768px) {    
    .bg_img {
        min-width: 75vw;
    }
}